<head>
    <!-- Necessary -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Info -->
    <title>ONE MAN DOWN</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon-32x32.png"/>

    <!-- SEO -->
    <meta name="keywords" content="Band, Rock, ONE MAN DOWN, Nijmegen">
    <meta name="description" content="The official website for the band ONE MAN DOWN">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Fonts -->
    <link href="assets/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="assets/font-awesome/css/brands.css" rel="stylesheet">
    <link href="assets/font-awesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="css/fonts.css" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
