  <section id="members" class="bg-dark">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6" style="text-align: center;">
            <h2>ONE MAN DOWN - Members</h2>
            <hr class="primary">
            <h3>vocals: <a href="https://soundcloud.com/lukas-alofs-810039825" target="_blank" rel="noopener noreferrer">Lukas Alofs</a></h3>
            <h3>bass & vocals: <a href="https://www.timomulder.nl" target="_blank" rel="noopener noreferrer">Timo Mulder</a></h3>
            <h3>guitar: Jonathan Mateman</h3>
            <h3>guitar: Mathijs De Maeyer</h3>
            <h3>drums: Stan van Uden</h3>
          </div>
          <img class="col-md-6" width="100%" src="/img/omd/depuluden_foto_optreden.jpg" alt="omd">
        </div>
        <br>
        <div class="row">
          <img class="col-md-6" width="100%" src="/img/omd/onemandown_foto1.jpeg" alt="omd">
          <img class="col-md-6" width="100%" src="/img/omd/onemandown_foto2.jpeg" alt="omd">
        </div>
    </div>
  </section>
