<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

          <!-- logo's -->
          <a class="navbar-brand no-padding page-scroll" href="#page-top"><img src="assets/img/OMD_beelmerk_WRZ.png"/></a>
          <a class="navbar-brand brand-name page-scroll" href="#page-top"><img src="assets/img/OMD_uitgeschreven_tar.png"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <!-- Linktree -->
          <div class="hyperlink-section">
            <a class="hyperlink" href="https://open.spotify.com/artist/{{ site.spotify_username }}" target=_blank>
              <i style="color:#1DB954" class="fa-brands fa-spotify wow bounceIn" data-wow-delay=".1s"></i> 
            </a>
            <a class="hyperlink" href="https://youtube.com/{{ site.youtube_username }}" target=_blank>
              <i style="color:#cc0000" class="fa-brands fa-youtube wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            <a class="hyperlink" href="https://instagram.com/{{ site.instagram_username }}">
              <i class="fa-brands fa-instagram wow bounceIn instagram-color" data-wow-delay=".1s"></i>
            </a>
          </div>
          <!-- Pagina's -->
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#next-gigs">Next-gigs</a>
            </li>
            <li>
              <a class="page-scroll" href="#spotify">Listen</a>
            </li>
            <li>
              <a class="page-scroll" href="#bio">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#members">Members</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="nav-padding">
  
</div>
<div class="hyperlink-mobile bg-ash">
  <a class="hyperlink" href="https://open.spotify.com/artist/{{ site.spotify_username }}" target=_blank>
    <i style="color:#1DB954" class="fa-brands fa-spotify wow bounceIn" data-wow-delay=".1s"></i> 
  </a>
  <a class="hyperlink" href="https://youtube.com/{{ site.youtube_username }}" target=_blank>
    <i style="color:#cc0000" class="fa-brands fa-youtube wow bounceIn" data-wow-delay=".1s"></i>
  </a>
  <a class="hyperlink" href="https://instagram.com/{{ site.instagram_username }}">
    <i class="fa-brands fa-instagram wow bounceIn instagram-color" data-wow-delay=".1s"></i>
  </a>
</div>
