<section class="bg-primary no-padding" id="next-gigs">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="text-align: center;">
        <h3>NEXT GIGS:</h3>
        <hr class="black">
        <h4>2023</h4>  
        <h4> NOV 12 |🕚16:00 <br> NIJMEGEN | CAFE SAMSON </h4>
        <h4></h4>			
        <h4> NOV 29 |🕚19:30 <br> NIJMEGEN | BAND TO BAND @ CAFE VAN BUREN </h4>
        <h4></h4> 
        <h4> DEC 09 |🕚20:00 <br> OVERASSELT | CAFE DE ZON </h4>
        <br>
        <h4>2024</h4>			 
        <h4> JAN 12 |🕚20:00 <br> ALVERNA | DE MARKIES </h4>
        <h4></h4>
        <h4> JAN 14 |🕚13:30 <br> UDEN | DE PUL </h4> 
        <h4></h4>
        <h4> JAN 19 |🕚21:00 <br> NIJMEGEN | LIVE @ RADIO RN7 </h4>
        <h4></h4>		
        <h4> JAN 25 |🕚20:30 <br> ZWOLLE | CAFE KOOS </h4>
        <h4></h4>
        <h4> JAN 26 |🕚20:00 <br> WYCHEN | DE MOZAIEK </h4>
        <h4></h4>
      </div>
      <div class=col-md-8>
        <img style="width:100%;" src="img/omd/2023-07-de-pul.jpg"/>
      </div>
  	</div>
  </div>
</section>