<section class="bg-gerrood no-padding" id="next-gigs">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="text-align: center;">
        <h2>NEXT GIGS:</h2>
        <hr>

        <h4> JAN 12 |🕚20:00 <br> ALVERNA | DE MARKIES 
          <!-- <i class="ticket-info fa-solid fa-circle-info wow bounceIn" data-wow-delay=".1s"></i> -->
        </h4>
        
        <h4> JAN 14 |🕚13:30 <br> UDEN | DE PUL </h4> 
        
        <h4> JAN 19 |🕚21:00 <br> NIJMEGEN | LIVE @ RADIO RN7 </h4>
        
        <h4> JAN 25 |🕚20:30 <br> ZWOLLE | CAFE KOOS </h4>
        
        <h4> JAN 26 |🕚20:00 <br> WYCHEN | DE MOZAIEK </h4>
      </div>
      <div class=col-md-8>
        <img style="width:100%;" src="assets/img/2023-07-de-pul.jpg"/>
      </div>
  	</div>
  </div>
</section>