body {
    font-family: 'Okine Sans';
    background-color: $theme-ash;
}

hr {
    border-width: 3px;
    max-width: 50px;
}

.bg-gerrood {
    background-color: $theme-gerrood;
    color: $theme-ash;
    hr{
        border-color: $theme-tar;
    }
}

.bg-tar {
    background-color: $theme-tar;
    color: $theme-ash;
    hr{
        border-color: $theme-gerrood;
    }
}

.bg-ash {
    background-color: $theme-ash;
    color: $theme-tar;
    hr{
        border-color: $theme-gerrood;
    }
}

.text-gerrood {
    color: $theme-gerrood;
}

.text-ash {
    color: $theme-ash;
}

.text-tar {
    color: $theme-tar;
}

.ticket-info:hover{
    @include transition-all;
    font-size: 22px;
    color: darken($theme-ash, 10%);
}
section {
    padding: 100px 0;
}

.no-padding {
    padding: 5px;
}

a {
    @include transition-all;
    color: $theme-gerrood;
    &:hover,
    &:focus {
        color: darken($theme-gerrood, 10%);
    }
}

h2 {
    font-family: 'Aileron';
    font-weight: bold;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: $theme-ash;
    text-shadow: none;
    background: $theme-tar;
}

::selection {
    color: $theme-ash;
    text-shadow: none;
    background: $theme-tar;
}

img::selection {
    color: $theme-ash;
    background: transparent;
}

img::-moz-selection {
    color: $theme-ash;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-tar;
}

.image-right {
    width: 100%;
}

@media (min-width: 1000px){
    .smallercontainer {
        width: 970px;
    }
}

@media (min-width: 1230px){
    .image-right {
        width: 800px;
    }
}