body {
    font-family: 'Okine Sans';
    background-color: $theme-ash;
}

hr {
    border-width: 3px;
    max-width: 50px;
}

.bg-gerrood {
    background-color: $theme-gerrood;
    color: $theme-ash;
    hr{
        border-color: $theme-tar;
    }
}

.bg-tar {
    background-color: $theme-tar;
    color: $theme-ash;
    hr{
        border-color: $theme-gerrood;
    }
}

.bg-ash {
    background-color: $theme-ash;
    color: $theme-tar;
    hr{
        border-color: $theme-gerrood;
    }

    .modal-footer{
        border-color: $theme-tar
    }

    .modal-header{
        border-color: $theme-tar
    }
}

.text-gerrood {
    color: $theme-gerrood;
}

.text-ash {
    color: $theme-ash;
}

.text-tar {
    color: $theme-tar;
}
section {
    padding: 100px 0;
}

.tiktok {
    padding: 3px;
    border-radius: 10px;
}

.no-padding {
    padding: 5px;
}

a {
    @include transition-all;
    color: $theme-gerrood;
    &:hover,
    &:focus {
        color: darken($theme-gerrood, 10%);
    }
}

h2, h5 {
    font-family: 'Aileron';
    font-weight: bold;
}

.gig-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-info{
    @include transition-all;
    padding: 10px;
    font-size: 22px;
    &:hover{
        font-size: 30px;
        color: darken($theme-ash, 10%);
    }
}

.close-icon {
    position: absolute;
    right: 0;
    top : 0;
    &:hover{
        cursor: pointer;
        color: lighten($theme-tar, 30%);
    }
}

.info-modal{
    text-align: left;
}

button{
    background-color: $theme-gerrood;
    color: $theme-ash;
    border: 0;
    border-radius: 4px;
    padding: 4px 10px;
    &:hover{
        background-color: darken($theme-gerrood, 5%);
    }
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: $theme-ash;
    text-shadow: none;
    background: $theme-tar;
}

::selection {
    color: $theme-ash;
    text-shadow: none;
    background: $theme-tar;
}

img::selection {
    color: $theme-ash;
    background: transparent;
}

img::-moz-selection {
    color: $theme-ash;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-tar;
}

.image-right {
    width: 100%;
}

@media (min-width: 1000px){
    .smallercontainer {
        width: 970px;
    }
}

@media (min-width: 1230px){
    .image-right {
        width: 800px;
    }
}